
<!DOCTYPE html>
<html data-theme="pastel" lang="en">
<!-- <html data-theme="pastel" lang="en"></html> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego_collection</title>
    <link rel="stylesheet" href="/css/main.css" />
    <!-- <link rel="stylesheet" href="../css/main.css" />  -->

</head>
<body>
    <!-- navbar -->

    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="text-lg btn hover:bg-violet-600 hover:text-base-100" href="/">Lego Collection</a>
            <a class="btn hover:bg-violet-600 hover:text-base-100" href="/about">About</a> 
        </div>
        
        <div class="navbar-center flex">
            <ul class="menu">
            <li>
                <details>
                <!-- drop down of three -->
                <summary>Summary Themes</summary>
                <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/lego/sets?theme=Modular_Buildings">Modular Buildings</a></li>
                    <li><a href="/lego/sets?theme=Ultimate_Collector_Series">Ultimate Collector Series</a></li>
                    <li><a href="/lego/sets?theme=town">Town</a></li>
                </ul>
                </details>
            </li>
            </ul>
        </div>
    </div>

    <!-- component -->
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md bg-error rounded-lg border-2 border-black outline-dashed">
        ERROR 404: Object/s not found.
    </div>
  </div>
</div>
</body>
</html>